*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  
    background: pink;
}
.container{
    width: 30%;
   margin:10%;
    background: white;
    border-radius: 10px;
}
#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-size: 15px;
}

.task button{
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

#newtask button{
    position: relative;
    float: right;
    font-size: 16px;
    background-color: #0d75ec;
    color: #ffffff;
    cursor: pointer;
    width: 20%;
    height: 45px;
    border-radius: 5px;
}
#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task span{
    font-size: 15px;
    font-weight: 400;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;}